---
interface Props {
  title?: string;
  lang?: string;
}

const { title = 'satboy', lang = 'pt-br' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black text-white font-['Courier_Prime']">
    <slot />
  </body>
</html>
